#toolbar-big {
  background-color: var(--dark-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 1vw;
}

#toolbar-small {
  display: none;
}

#toolbar-big a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0px 1vw;
}
a:active {
  color: var(--secondary-color);
}

a:hover,
a:active {
  color: var(--secondary-color);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#logo {
  display: inline-block;
  background-color: var(--secondary-color);
  padding: 10px;
  max-width: fit-content;
  border-radius: 50%;
  margin: 0.5rem 1rem;
}

#profile-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: fit-content;
}

#hamburger {
  margin: 0px 1rem;
  cursor: pointer;
  border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #toolbar-big {
    display: none;
  }
  #toolbar-small {
    background-color: var(--dark-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 1vw;
  }
}
