@import "../../styles/common.css";

/* sections of dashboard */
#welcome-section {
  background-color: var(--ternary-background-color);
  color: var(--primary-text-color);
  padding: 20% 10%;
}

.justify-content-start {
  justify-content: start;
}

.overflow-scroll {
  overflow-y: hidden;
}

.align-items-center {
  align-items: center;
}
#feature-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  padding: 2vw;
}

#products-section {
  background-color: var(--secondary-background-color);
  padding: 30px;
}

.heading {
  font-weight: 300;
  font-style: italic;
}

.highlight-heading {
  color: var(--highlight-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #feature-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    padding: 1vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .flex-l-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  #feature-section {
    margin: 9% 0%;
  }
}
