:root {
  --toolbar-background-color: #222222;
  --highlight-color: #ef233c;
  --primary-text-color: #ffffff;
  --card-text-color: #222222;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f0f0f3;
  --ternary-background-color: #0d455d;
}
