@import "./colors.css";
@import "./grid.css";
.left-border-box {
  display: block;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 1px solid;
  padding: 0px 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column.justify-content-center,
.flex-row.justify-content-center {
  justify-content: center;
}

.flex-column.align-items-center,
.flex-row.align-items-center {
  align-items: center;
}

.card {
  background-color: var(--ternary-color);
  padding: 2rem;
  margin: 1vw;
  width: 350px;
  height: 350px;
}

.left-bottom-round {
  border-bottom-left-radius: 1.5rem;
}

.left-bottom-round-button {
  border-bottom-left-radius: 15px;
}

.primary-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  cursor: pointer;
}
.primary-button .icon {
  margin-left: 1rem;
}
.primary-button:hover {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}
.icon-right-margin {
  margin-right: 0.5rem;
}
.label-vertical-align {
  vertical-align: text-top;
}
.secondary-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: var(--dark-color);
}
.secondary-button:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
